.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
  height: 72px;
  padding: 0px var(--horizontal-padding);
  box-sizing: border-box;
  background-color: var(--brand-white-rgba-trans);
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  
  z-index: 100;
  user-select: none;
  
  font-size: 18px;
  font-weight: 500;

  --horizontal-padding: 48px;
  --transition-time: 0ms;

  /* background: var(--brand-white); */
  /* transition: background --transition-time; */
  background: linear-gradient(180deg, var(--brand-white-rgba) 76.04%, var(--brand-white-rgba-trans) 100%);
}
/* .Navbar.scrolled {
  background-color: var(--brand-white-rgba);
} */
.Sticky {
  position: sticky;
}
.MenuNavBackground{
  background: var(--brand-black);
}

a{
  color: var(--brand-black);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}

@media screen and (max-width:1280px){
  .Navbar{
    --horizontal-padding: 24px;
  }
}

.Logo{
  fill: var(--brand-black);
  transition: fill var(--transition-time);
}

.NavButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 50%;
  padding-left: var(--horizontal-padding);
  box-sizing: border-box;

  z-index: 101;
}

@media screen and (max-width:960px){
  .NavButtons{
    width: 60%;
  }
}

.RightButtons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}

.JoinButton {
  box-sizing: border-box;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  
  width: 77px;
  height: 27px;
  
  background: var(--brand-black);
  color: var(--lm-text-alt);
  border-radius: 10px;
  
  flex: none;
  order: 2;
  flex-grow: 0;

  font-family: 'Lilita One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  transition: all var(--transition-time);
}

.JoinButton:hover {
  box-shadow:0px 0px 0px 4px var(--brand-lm-10-mid) inset;
}

.JoinButton:active {
  box-shadow:0px 0px 0px 2px var(--brand-lm-10-mid) inset;
}

.NavButton{
  display: flex;
  align-items: center;
  justify-content: center;
  
  cursor: pointer;
}

.NavButton path {
  fill: var(--brand-black);
}

.Pending path, .Active path, .NavButton:hover path {
  fill: var(--brand-lm-10-mid);
}

.Pending, .Active, .NavButton:hover {
  color: var(--brand-lm-10-mid);
}

@media screen and (max-width:800px) {
  .Logo{
    width: 75%;
  }
}

.Mobile {
  display: none;
}

@media screen and (max-width: 720px) {
  .Navbar{
    --horizontal-padding:16px
  }
  .NavButtons {
    display: none;
  }

  .Mobile {
    display: block;
  }
  
  .Logo {
    width: 156px;
  }


  .LightJoin {
    color: var(--brand-black);
    background-color: var(--brand-white);
  }

  .LightLogo{
    fill: var(--brand-white);
  }

  .MenuOpenButton path{
    width: 24px;
    aspect-ratio: 1;

    fill: var(--brand-black);
  }

  .MenuCloseButton {
    width: 16px;
    aspect-ratio: 1;

    fill: var(--brand-white);
  }

  .Visible {
    display: flex;
  }

  .Invisible {
    display: none;
  }

  .NavButton path {
    fill: var(--lm-text-alt);
  }
  .Pending path, .Active path, .NavButton:hover path {
    fill: var(--brand-lm-10-lit);
  }
  
  .Menu {
    width: 100vw;
    height: 100%;

    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding-top: 48px;
    
    z-index: 99;

    position: fixed;

    background-color: var(--brand-lm-30-drk);
  }

  .MenuLink {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;

    padding: 24px 0px 24px 48px;

    font-family: "Averia Serif Libre", sans-serif;
    font-size: 24px;
    color: var(--lm-text-alt);
  }
  
  .Pending, .Active, .NavButton:hover {
    color: var(--brand-lm-10-lit);
  }

  .Menu .CaptureWrapper {
    position: absolute;
    bottom: 120px;
    height: 120px;
    padding: 12px;
    font-family: 'Fugaz One', serif;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
  }
  .Menu .CaptureWrapper > h2{
    margin: 0;

    line-height: 26px;
    font-size: 20px;
    text-align: center;

    color: var(--brand-white);

    text-shadow: 0.5px 0.5px 0px var(--brand-lm-10-lit);
  }
}