.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 70px;
  padding: 0px 36px;

  background-color: var(--brand-white-rgba-trans);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 100;
  user-select: none;

  font-size: 18px;
  font-weight: 500;

  --horizontal-padding: 48px;
  --transition-time: 0ms;
  background-color: var(--brand-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  /* background: linear-gradient(
    180deg,
    var(--brand-white-rgba) 76.04%,
    var(--brand-white-rgba-trans) 100%
  ); */
}

.NavbarBackground {
  background: var(--brand-white);
  transition: opacity 200ms ease-in;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 72px;
  opacity: 0;
  z-index: -1;
  opacity: 1;
}
.NavbarBackground.Scrolled {
  opacity: 1;
}

.Logo {
  fill: var(--brand-black);
  transition: fill var(--transition-time);
}

.NavLinks-desktop {
  display: flex;
  align-items: center;
  gap: 36px;
  font-size: 14px;
  font-weight: 500;
  color: black;
}

.NavLinks-mobile {
  display: none;
}

.NavbarLink {
  font-size: 16px;
  cursor: pointer;
}

.NavbarLink:hover {
  color: var(--brand-lm-10-mid);
}

.NavbarLink:active {
  color: var(--brand-lm-10-lit);
}

.SideMenuOpenButton {
  background-color: var(--brand-lm-10-mid);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
}

.NavbarCartButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 6px;
}

.CartQtyIndicator {
  position: absolute;
  background-color: var(--brand-lm-10-mid);
  color: white;
  bottom: -4px;
  right: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  min-width: 16px;
  min-height: 16px;
  padding: 2px;
  border-radius: 100%;
}

.NavbarJoinButton {
  padding: 4px 20px;
  border-radius: 10px;
  background-color: var(--brand-lm-10-mid);
  color: white;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.NavbarJoinButton:hover {
  background-color: var(--brand-lm-10-lit);
}

.NavbarJoinButton:active {
  background-color: var(--brand-lm-10-drk);
}

@media screen and (max-width: 800px) {
  .Logo {
    width: 240px;
  }
  .Navbar {
    padding: 0px 8px;
  }
}

@media screen and (max-width: 600px) {
  .NavButtons {
    display: none;
  }

  .Mobile {
    display: block;
  }

  .Logo {
    width: 156px;
  }

  .NavLinks-desktop {
    display: none;
  }

  .NavLinks-mobile {
    display: block;
  }
}
