.CellarList{
  display: flex;
  flex-direction: row;
  gap: 12px;

  box-sizing: border-box;
}

.RightFade {
  height: 100%;
  width: 100%;
  user-select: none;
  background: linear-gradient(transparent 0px black);
}