.Paper {
  background-color: #eee;
  border: #fff 1px solid;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);

  color: #000;

  padding: 8px;
  height: 100%;
  width: 100%;

  box-sizing: border-box;
}