.Hero {
  position: relative;
  width: 100%;
  min-height: 70vh;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  background: url(https://images.unsplash.com/photo-1504279577054-acfeccf8fc52?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2274&q=80);
  background-size: cover;
  background-position: center;
}

.Hero h1 {
  font-family: "Jost", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
  max-width: 960px;
}

.HeroContent {
  position: relative;

  width: 100%;

  background: linear-gradient(180deg, #0000 0%, #000 100%);
  color: white;

  padding: 96px;
  padding-bottom: 120px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
  text-align: center;
}

@media screen and (max-width: 720px) {
  .Hero {
    min-height: 60vh;
  }

  .HeroContent {
    padding: 64px 16px;
    padding-bottom: 96px;
  }

  .Hero h1 {
    font-size: 2rem;
  }
}
