.Hero {
  background: var(--brand-lm-60-mid);
  width: 100%;
  height: 90vh;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;  
}

.Hero h1 {
  font-size: 48px;
  font-weight: 800;
  margin:0;
}

.Hero h3 {
  font-size: 24px;
  font-weight: 500;
  margin:0;
}

.HeroLeft {
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;
}

.HeroRight {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-position: center;
  background-size: cover;
}

@media screen and (max-width:960px){
  .HeroRight{
    width: 150%;
  }
}

.HeroRightContent {
  max-width: 720px;
  
  padding: 0px 48px 0px 48px;
  box-sizing: border-box;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 72px;
}

.EmailCapture {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  
  width: 100%;
}

.EmailInput {
  box-sizing: border-box;

  width: 100%;
  height: 64px;
  
  background: var(--brand-lm-60-mid);
  border: 3px solid var(--brand-lm-10-mid);
  border-radius: 10px 0px 0px 10px;

  font-size: 18px;
  font-weight: 400;
  color: var(--lm-text);

  padding-left: 16px;
}

.EmailInput::placeholder {
  color: var(--brand-lm-60-drk);
}

.HeroJoinButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 48px;
  
  height: 64px;
  
  background: var(--brand-lm-10-mid);
  border-radius: 0px 10px 10px 0px;
  
  color: var(--lm-text-alt);
  font-size: 20px;
  font-weight: 800;
  text-align: center;

  cursor: pointer;
  user-select: none;
}

.HeroJoinButton:hover {
  background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
}

.HeroJoinButton:active {
  background-image: linear-gradient(rgb(255 255 255/20%) 0 0);
}

@media screen and (max-width: 720px) {
  .Hero {
    flex-direction: column;
    align-items: center;

    height: fit-content;
  }

  .HeroLeft{
    width:100%;
    height: 50vh;
  }

  .HeroRight{
    width: fit-content;
    height: fit-content;
    margin: -180px 12px -36px 12px;

    background: var(--brand-lm-60-lit) !important;
    border-radius: 10px;

    box-sizing: border-box;

    z-index: 1;
  }

  .HeroRightContent{
    padding: 12px 12px 120px 12px;
    max-width: 100%;
    width: fit-content;

    gap: 36px;
  }

  .Hero h1{
    font-size: 36px;
  }

  .Hero h3 {
    font-size: 22px;
  }
}