.Footer {
  min-height: 100vh;
  width: 100%;
  color: white;
  box-sizing: border-box;
  margin-top: 0px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-top: 75px;
}

.FooterWrap {
  padding: 12px 12px 48px 12px;
  z-index: 3;
  height: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.FooterBackgroundColor {
  height: calc(100% - 75px);
  width: 100%;
  background-color: var(--brand-lm-30-drk);
  position: absolute;
  top: 75px;
  z-index: 0;
}

.Wave {
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 0;
}

.Footer h2 {
  font-family: "Shrikhand", cursive;
  line-height: 26px;
  font-size: 20px;
  text-align: center;
  color: white;
}

.Footer ul {
  font-family: "Averia Serif Libre", sans-serif;
  margin: 64px 0px 24px 0px;
  padding: 0px;
}
.Footer li {
  list-style-type: none;
  cursor: pointer;
  margin: 12px;
}

.Footer a {
  color: var(--brand-lm-10-lit);
  font-weight: 100;
  text-decoration: underline;
}
.Footer span {
  font-size: 14px;
  margin-bottom: 12px;
}
.Footer .Little {
  font-size: 10px;
}

.Footer p {
  color: white;
}

.Shh {
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: absolute;
  bottom: 0px;
  mix-blend-mode: hard-light;
  opacity: 0.1;
}

div.ShhGradient {
  height: 300px;
  width: 100%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(17, 8, 8, 0) 63.54%,
    #110808 100%,
    #110808 100%
  );
  z-index: 2;
  position: absolute;
  bottom: 0px;
  /* background-blend-mode: normal, color-dodge, darken; */
}

@media screen and (min-width: 600px) {
  ul {
    display: flex;
    flex-direction: row;
  }

  .FooterBackgroundColor {
    top: 0px;
    height: 100%;
  }

  .Footer {
    min-height: 70vh;
  }
}
