.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  
  background-color: #fff;

  font-size: 1rem;
  color: #000;;
}

.About, .CellarPreview, .Hero {
  min-height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Hero{
  /* color: #000; */
}