.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  /* width: 100%; */

  font-size: 1rem;
  color: var(--lm-text);

  box-sizing: border-box;
}

/* .About, .CellarPreview {
  min-height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */