.About {
  min-height: 100vh;
  width: 100%;
  color: white;
  box-sizing: border-box;
  margin-top: -48px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: relative;
  padding-top: 75px;
}

.AboutWrap {
  padding: 12px 12px 48px 12px;
  z-index: 3;
  height: 100%;
  box-sizing: border-box;
}

.AboutBackgroundColor {
  height: 100%;
  width: 100%;
  background-color: var(--brand-lm-30-lit);
  position: absolute;
  top: 75px;
  z-index: 0;
}

.Fun {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 360px;

  margin-bottom: 84px;
}

.Title {
  font-family: "Shrikhand", cursive;
  font-size: 60px;
  line-height: 58px;
  letter-spacing: 1px;

  margin: 0px;

  position: relative;
  top: 252px;
  left: 76px;
}

.Refined {
  color: var(--brand-lm-10-drk);
  mix-blend-mode: multiply;
}

.About .JoinWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.About .JoinButton {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;

  background: var(--brand-lm-10-mid);
  color: var(--lm-text-alt);
  border-radius: 10px;

  flex: none;
  order: 2;
  flex-grow: 0;

  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  transition: all var(--transition-time);
}

.AboutImage {
  width: 280px;
  height: 360px;
  background-position: center;
  background-size: cover;
}

.About h2 {
  font-family: "Shrikhand", cursive;
  line-height: 26px;
  font-size: 20px;
  text-align: center;
  text-shadow: 2px 2px var(--brand-lm-10-mid);
  margin: 24px 0px 12px 0px;
}

.Wave {
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 0;
}

img.Barrels {
  position: absolute;
  top: 80px;
  bottom: 0px;
  right: 0px;
  mix-blend-mode: multiply;
  height: 100%;
  opacity: 15%;
  width: 100%;
  z-index: 1;
  object-fit: cover;
}

div.BarrelGradient {
  height: 80px;
  width: 100%;
  background: linear-gradient(var(--brand-lm-30-lit), transparent);
  z-index: 2;
  position: absolute;
  top: 80px;
}

@media screen and (min-width: 600px) {
  .Wave {
    display: none;
  }
  .About {
    min-height: 50vh;
    padding: 0px;
    margin-top: 0px;
  }
  .AboutWrap {
    padding-top: 96px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  img.Barrels,
  .AboutBackgroundColor,
  div.BarrelGradient {
    top: 0px;
  }
  .TopRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
  }

  .Blurb {
    max-width: 264px;
    margin: 0px;
  }

  .Fun {
    margin-top: 0px;
  }

  .JoinWrapper {
    max-width: 480px;
  }
}
