.GridOptions {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.ChipRow {
  position: sticky;
  width: 100vw;
  max-width: 1200px;
  padding: 0px 16px;
  margin-bottom: 8px;
  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  border-radius: 10px;
}

.ChipRow::-webkit-scrollbar {
  display: none;
}

.Chip {
  display: flex;
  align-items: center;

  font-size: 14px;
  background: white;
  color: black;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px inset rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
}

.ActiveChip {
  background: var(--brand-lm-10-lit);
  color: white;
}

.Sort {
  padding-left: 8px;
  font-size: 14px;
}

.Sort > select {
  font-size: 14px;
  background: white;
  color: black;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px inset rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  margin-left: 8px;
}

.SearchBox {
  background: #ffffff;
  border: 2px solid #ccc;
  border-radius: 100px;
  margin: 0px 16px;
  margin-bottom: 16px;
}

.SearchBoxInput {
  flex-grow: 1;
  padding: 4px;
  border: none;
  background: none;
  font-size: 14px;
  color: #000000;
  outline: none;
  padding: 6px 12px;
  height: 100%;
}

.SearchBoxForm {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 100%;
}

.SearchButton {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ais-SearchBox-reset {
  display: none;
}

.ais-SearchBox-resetIcon {
  display: none;
}

.FilterCount {
  font-size: 12px;
  font-weight: 300;
  margin-left: 8px;
}

@media screen and (min-width: 1220px) {
  .ChipRow.LeftShadow {
    box-shadow: 2px 0 2px -2px rgba(0, 0, 0, 0.55) inset;
  }
  .ChipRow.RightShadow {
    box-shadow: -2px 0 2px -2px rgba(0, 0, 0, 0.55) inset;
  }
  .ChipRow.LeftShadow.RightShadow {
    box-shadow: 2px 0 2px -2px rgba(0, 0, 0, 0.55) inset,
      -2px 0 2px -2px rgba(0, 0, 0, 0.55) inset;
  }
}
