.App {
  padding-top: 72px;
  width: 100%;
  height: 100%;
  position: relative;
}

.App.Blurred {
  pointer-events: none;
  overflow: hidden;
  height: 100vh;
  position: fixed;
}

.App.Blurred::before {
  height: 100vh;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.75); /* Black with 50% transparency */
  backdrop-filter: blur(4px);
}
