@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,400;0,700;1,400&family=Lilita+One&family=Shrikhand&display=swap");

body {
  margin: 0;
  font-family: "Averia Serif Libre", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --brand-white: #ffebe9;
  --brand-white-rgba: rgba(255, 235, 233, 1);
  --brand-white-rgba-trans: rgba(255, 235, 233, 0);
  --brand-black: #000000;

  --brand-lm-10-lit: #e5586c;
  --brand-lm-10-mid: #cb002d;
  --brand-lm-10-drk: #230009;
  --brand-lm-30-lit: #9e7179;
  --brand-lm-30-mid: #4d0011;
  --brand-lm-30-drk: #110808;
  --brand-lm-60-lit: #eed8d8;
  --brand-lm-60-mid: var(--brand-white);
  --brand-lm-60-drk: #b293a4;
  --lm-text: var(--brand-black);
  --lm-text-alt: var(--brand-white);

  --brand-dm-10-lit: #4c2327;
  --brand-dm-10-mid: #cb002d;
  --brand-dm-10-drk: #230009;
  --brand-dm-30-lit: #9e7179;
  --brand-dm-30-mid: #540d19;
  --brand-dm-30-drk: #110808;
  --brand-dm-60-lit: #e5586c;
  --brand-dm-60-mid: #2e1315;
  --brand-dm-60-drk: #765567;
  --dm-text: var(--brand-white);
  --dm-text-alt: var(--brand-black);

  background-color: var(--brand-lm-60-mid);
}
