.Section {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* width: 100%; */
  
  box-sizing: border-box;
  
  background-position: center;
  background-size: cover;
}

.ContentWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
  height: 100%;
  /* padding: 36px 12px; */
  max-width: 1200px;
  box-sizing: border-box;
}

@media screen and (max-width:600){
  .Section{
    padding: 0px;
  }
}